<h1>Lessons</h1>
<div class="content">
  <h2>Active Lessons</h2>
  <% for lesson in @lessons %>
    <% if lesson.active == 't' %>
      <br>
      <a href="/lessons/<%= lesson.id %>"><%= lesson.name.capitalize %></a>
      <br>
      Teacher: <%= lesson.pretty_name() %>
      <br>
    <% end %>
  <% end %>
  <br>
  <h2>All Lessons</h2>
  <% for lesson in @lessons %>
    <br>
    <a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a>
    <br>
    Lesson Active Status: <%= lesson.active %>
    <br>
    Teacher: <%= lesson.pretty_name() %>
    <br>
  <% end %>
    <h2>Dearest 3 Lessons</h2>
  <% for lesson in @lessons_expensive %>
    <br>
    <a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a>
    <br>
    Lesson Price: <%= lesson.price %>
    <br>
    Teacher: <%= lesson.pretty_name() %>
    <br>
  <% end %>
      <h2>Cheapest 3 Lessons</h2>
  <% for lesson in @lessons_cheap %>
    <br>
    <a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a>
    <br>
    Lesson Price: <%= lesson.price %>
    <br>
    Teacher: <%= lesson.pretty_name() %>
    <br>
  <% end %>
</div>
