<h1>Lesson</h1>
<div class="content">
<%= @lesson.name %
<br>
Teach Name: <%= @lesson.first_name %> <%= @lesson.last_name %>
<br>
Phone: <%= @lesson.phone %>
<br >
Lesson Price: <%= @lesson.price %>
<br>
Week Day of Lesson: <%= @lesson.week_day%>
<br>
Max Capacity: <% @lesson.max_capacity%>
<br>
Class Available: <%= @lesson.active %>
</div>