<h1>Add A Customer For A Lesson</h1>
<div class="content">
  <form action="/customers-lessons" method="post">
    <label for="select-lesson">
      Select a Lesson:
      <select id="select-lesson" name="lesson_id">
        <% for les in @lesson %>
          <% if les.active != 'f' && les.max_capacity > 0%>
            <option value="<%= les.id %>"><%= les.name %> - Spaces avaialble - <%= les.max_capacity %></option>
          <% end %>
        <% end %>
      </select>
    </label>
    <label for="select-customer">
      Select a Customer:
      <select id="select-customer" name="customer_id">
        <% for cus in @customer %>
          <option value="<%= cus.id %>"><%= cus.pretty_name %></option>
        <% end %>
      </select>
    </label>
    <input type='submit' value="Connect Customer To Lesson">
  </form>
</div>
