<h1>Add A Customer For A Lesson</h1>
<div class="content">
  <form action="/customers-lessons" method="post">
    <label for="select-lesson">
      Select a Lesson:
      <select id="select-lesson" name="lesson_id">
        <% for lesson in @lessons %>
          <% if lesson.active != 'f' && lesson.max_capacity > 0%>
            <option value="<%= lesson.id %>"><%= lesson.name %> - Spaces avaialble: <%= lesson.max_capacity %></option>
          <% end %>
        <% end %>
      </select>
    </label>
    <label for="select-customer">
      Select a Customer:
      <select id="select-customer" name="customer_id">
        <% for customer in @customers %>
        <% if customer.funds > 0%>
          <option value="<%= customer.id %>"><%= customer.pretty_name %> - Funds: £<%= customer.funds %></option>
          <% end %>
        <% end %>
      </select>
    </label>
    <input type='submit' value="Connect Customer To Lesson">
  </form>
</div>
