<h1>Customer</h1>
<div class="content">
Name: <%= @customer.pretty_name() %>
<br>
Phone: <%= @customer.phone %>
<br >
Funds: £<%= @customer.funds %>
<br>
<a class="edit-btn" href="/customers/<%= @customer.id %>/edit">Edit</a>
<br>
<form method="post" action="/customers/<%= @customer.id %>/delete">
  <input class="delete-btn" type="submit" value="Delete"/>
</form>
</div>